@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #5D7566;
    --color-secondary: #D4C4A8;
    --color-background: #F9F8F6;
    --color-surface: #FFFFFF;
    --color-textDark: #2C3333;
    --color-textLight: #6B7280;
    --color-accent: #EBE3D5;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Lato", sans-serif;

    --radius-2xl: 1rem;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans bg-background text-textDark antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}